In [19]:
import pandas as pd
import file_paths
all_stock_df = pd.read_csv(
    file_paths.main_file_path)
all_stock_df["Date"] = pd.to_datetime(all_stock_df["Date"])
stock_metadata_df = pd.read_csv(
    file_paths.stock_metadata_path)

finance_minister_df = pd.read_csv(
    file_paths.finance_minister_path)
finance_minister_df["Date from"] = pd.to_datetime(
    finance_minister_df["Date from"])
finance_minister_df["Date to"] = pd.to_datetime(finance_minister_df["Date to"])


# DATA Cleaning


## Removing redundant columns from the dataset

In [20]:

all_stock_df = all_stock_df.drop(columns=[
                                 "Series", "Volume", "Turnover", "Deliverable Volume", "%Deliverble"])
all_stock_df

,Date,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Trades
0,2007-11-27,MUNDRAPORT,440.00,770.00,1050.00,770.00,959.00,962.90,984.72,NaN
1,2007-11-28,MUNDRAPORT,962.90,984.00,990.00,874.00,885.00,893.90,941.38,NaN
2,2007-11-29,MUNDRAPORT,893.90,909.00,914.75,841.00,887.00,884.20,888.09,NaN
3,2007-11-30,MUNDRAPORT,884.20,890.00,958.00,890.00,929.00,921.55,929.17,NaN
4,2007-12-03,MUNDRAPORT,921.55,939.75,995.00,922.00,980.00,969.30,965.65,NaN
...,...,...,...,...,...,...,...,...,...,...
235186,2021-04-26,ZEEL,188.00,190.60,191.10,185.10,186.70,186.40,187.35,52374.0
235187,2021-04-27,ZEEL,186.40,188.00,192.95,186.80,188.80,188.15,189.41,73673.0
235188,2021-04-28,ZEEL,188.15,188.80,190.60,187.10,188.95,189.10,188.85,44056.0
235189,2021-04-29,ZEEL,189.10,190.80,191.65,186.00,186.60,186.55,187.44,60932.0
235190,2021-04-30,ZEEL,186.55,185.30,190.95,183.65,185.00,185.60,187.53,62607.0

## Adding **"Industry"** column to the stock dataset

In [21]:

for stock in stock_metadata_df.iterrows():
    all_stock_df.loc[all_stock_df["Symbol"] ==
                     stock[1].Symbol, "Industry"] = stock[1].Industry

## Adding **"Percentage Change"** column to the stock dataset

In [22]:
all_stock_df["Percent change"] = (
    all_stock_df["Close"] - all_stock_df["Open"])/all_stock_df["Open"] * 100

all_stock_df

,Date,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Trades,Industry,Percent change
0,2007-11-27,MUNDRAPORT,440.00,770.00,1050.00,770.00,959.00,962.90,984.72,NaN,SERVICES,25.051948
1,2007-11-28,MUNDRAPORT,962.90,984.00,990.00,874.00,885.00,893.90,941.38,NaN,SERVICES,-9.156504
2,2007-11-29,MUNDRAPORT,893.90,909.00,914.75,841.00,887.00,884.20,888.09,NaN,SERVICES,-2.728273
3,2007-11-30,MUNDRAPORT,884.20,890.00,958.00,890.00,929.00,921.55,929.17,NaN,SERVICES,3.544944
4,2007-12-03,MUNDRAPORT,921.55,939.75,995.00,922.00,980.00,969.30,965.65,NaN,SERVICES,3.144453
...,...,...,...,...,...,...,...,...,...,...,...,...
235186,2021-04-26,ZEEL,188.00,190.60,191.10,185.10,186.70,186.40,187.35,52374.0,MEDIA & ENTERTAINMENT,-2.203568
235187,2021-04-27,ZEEL,186.40,188.00,192.95,186.80,188.80,188.15,189.41,73673.0,MEDIA & ENTERTAINMENT,0.079787
235188,2021-04-28,ZEEL,188.15,188.80,190.60,187.10,188.95,189.10,188.85,44056.0,MEDIA & ENTERTAINMENT,0.158898
235189,2021-04-29,ZEEL,189.10,190.80,191.65,186.00,186.60,186.55,187.44,60932.0,MEDIA & ENTERTAINMENT,-2.227463
235190,2021-04-30,ZEEL,186.55,185.30,190.95,183.65,185.00,185.60,187.53,62607.0,MEDIA & ENTERTAINMENT,0.161900

## Adding Political party, prime minister, finance minister based on the date

In [23]:
from datetime import datetime
for minister_data in finance_minister_df.iterrows():
    data = minister_data[1]
    all_stock_df.loc[(all_stock_df["Date"] >= data["Date from"]) & (all_stock_df["Date"] <= data["Date to"]), [
        "Political party", "Prime minister", "Finance minister"]] = [data["Political party"], data["Prime minister"], data["Name"]]
all_stock_df

,Date,Symbol,Prev Close,Open,High,Low,Last,Close,VWAP,Trades,Industry,Percent change,Political party,Prime minister,Finance minister
0,2007-11-27,MUNDRAPORT,440.00,770.00,1050.00,770.00,959.00,962.90,984.72,NaN,SERVICES,25.051948,Indian National Congress,Manmohan Singh,P. Chidambaram
1,2007-11-28,MUNDRAPORT,962.90,984.00,990.00,874.00,885.00,893.90,941.38,NaN,SERVICES,-9.156504,Indian National Congress,Manmohan Singh,P. Chidambaram
2,2007-11-29,MUNDRAPORT,893.90,909.00,914.75,841.00,887.00,884.20,888.09,NaN,SERVICES,-2.728273,Indian National Congress,Manmohan Singh,P. Chidambaram
3,2007-11-30,MUNDRAPORT,884.20,890.00,958.00,890.00,929.00,921.55,929.17,NaN,SERVICES,3.544944,Indian National Congress,Manmohan Singh,P. Chidambaram
4,2007-12-03,MUNDRAPORT,921.55,939.75,995.00,922.00,980.00,969.30,965.65,NaN,SERVICES,3.144453,Indian National Congress,Manmohan Singh,P. Chidambaram
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235186,2021-04-26,ZEEL,188.00,190.60,191.10,185.10,186.70,186.40,187.35,52374.0,MEDIA & ENTERTAINMENT,-2.203568,Bharatiya Janata Party,Narendra Modi,Nirmala Sitharaman
235187,2021-04-27,ZEEL,186.40,188.00,192.95,186.80,188.80,188.15,189.41,73673.0,MEDIA & ENTERTAINMENT,0.079787,Bharatiya Janata Party,Narendra Modi,Nirmala Sitharaman
235188,2021-04-28,ZEEL,188.15,188.80,190.60,187.10,188.95,189.10,188.85,44056.0,MEDIA & ENTERTAINMENT,0.158898,Bharatiya Janata Party,Narendra Modi,Nirmala Sitharaman
235189,2021-04-29,ZEEL,189.10,190.80,191.65,186.00,186.60,186.55,187.44,60932.0,MEDIA & ENTERTAINMENT,-2.227463,Bharatiya Janata Party,Narendra Modi,Nirmala Sitharaman
235190,2021-04-30,ZEEL,186.55,185.30,190.95,183.65,185.00,185.60,187.53,62607.0,MEDIA & ENTERTAINMENT,0.161900,Bharatiya Janata Party,Narendra Modi,Nirmala Sitharaman

## Saving dataset into a modified **.csv** file

In [24]:

all_stock_df.to_csv(
    file_paths.modified_file_path, index=False)